<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Tools" value="https://pkgs.dev.azure.com/destate/_packaging/Tools/nuget/v3/index.json" />
    <add key="MygetF" value="https://www.myget.org/F/pitstop/api/v3/index.json" />
    <add key="Metrium" value="https://pkgs.dev.azure.com/DmitriyChudakov/_packaging/Metrium/nuget/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <add key="Tools" value="true" />
  </disabledPackageSources>
    <packageSourceCredentials>
    <Metrium>
      <add key="Username" value="dmitriy.chudakov@metrium.ru" />
      <add key="ClearTextPassword" value="Chudo666823" />
    </Metrium>
  </packageSourceCredentials>
</configuration>